@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;700&family=Poppins:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
}
  
  * body {
    background-color:#1f8a70;
              
}

h1,h2{
    font-family: 'Belanosima', sans-serif;
}

h3 {
    font-family: 'Poppins', sans-serif; 
}

a {
    text-decoration: none;
    color:#EFF5F5;
}

a:focus, a:hover {
    background-color:#FC7300;
    transition: .5s;
    padding: .5em;
    border-radius: .5em;
}

.container-titulo {
    display: block;
    text-align: center;
    width: 50vw;
    
}

.container-titulo p {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 3vh;

    
}

.titulo {
    color: #fff;
    text-shadow: 2px 5px #181823;
    font-size: 4vh;
    font-family: 'Belanosima', sans-serif;
    
    
}
 .nav-bar-menu {
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;  
    background-color: #00425a;    
 }

 .banner {
    padding: 0;
    margin:0;
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url(img/levantando\ la\ mano\ 2.jpg);
    background-size: cover;
    background-position: center;  
   
 }

.item {
    display: flex;
    margin-top: 2vh;
    margin-bottom: 2vh;
    align-content: center;
    align-items: center;
    width: 100vw;
    justify-content: space-evenly;
    color: #EFF5F5;
    font-family: 'Belanosima', sans-serif;
}

.about-us, .why-us {
   margin: 5vh 5vw;
   font-size: 1.2em;
}

.container-foto-texto {
    margin-top: 3vh;
    margin-bottom: 10vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    

}

.foto1 {
    border-radius: 2vh;
}

.container-fotos {
    margin: 10vh 5vw 10vh 5vw;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 4vw;
   
}


.n {
    text-align: center;
}
.container-propuesta {
    text-align: center;
    margin: 25vh;
}

container-sections-news {
    margin-top: 10vh;
}
    

.container-news {
    margin: 5vh 0 5vh 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

.imagen-noticia {
    width: 30vw;
    height: 40vh;
}

.imagen-noticia:hover {
    padding: 2vh;
    background-color: #00425a;
    /* border-radius: 2vh; */
    transition: .5s;
    cursor: pointer;
}

.noticia{
    width: 40vw;
    text-align: center;
}

.noticia p {
    margin: 2vh 5vw;
}

.container-seccionnews {
    margin: 5vh 3vw ;
}

.container-inferior {
    
    width: 95%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15vw;
    border: solid 2px #FC7300;
    border-radius: 5vh;
    margin-left: 2.5%;
    margin-bottom: 2vh;

    
  
    
}



.container-instituto {
    align-items: center;
    text-align: center;
    color: #EFF5F5;
    
}

.container-instituto h2 {
    margin-top: -5vh;
}

.mapouter {
    display:block;
    margin-top: 5vh;
    width: fit-content;
   
}

.container-contacto {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 15vh 10vh 10vh 10vh;
    color: #EFF5F5;   

}

.container-redes {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 15vh 10vh 10vh 10vh;
    color: #EFF5F5;

}
